body {
  background: $color-background;
  font-family: 'Helvetica Neue';
  width: 100%;
  margin: 0;
}

header, footer {
  width: 100%;
  background: $color-background;
  text-align: center;
  position: fixed;
  a {
    color: $color-text;
    text-decoration: none;
    &:hover {
      color: $color-hover;
    }
  }
  nav {
    a {
      font-weight: bold;
      padding: 10px;
      &:hover {
        color: $color-hover;
      }
    }
  }
}

header {
  height: 100px;
  top: 0;
  h3 {
    font-size: 2em;
    line-height: .1em;
  }
}

footer {
  height: 50px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    padding: 20px;
  }
}

main {
  width: 100%;
  margin: 100px 0 50px;
  @include outer-container(1200px);
}
