@import 'vendor/bourbon/bourbon';
@import 'vendor/neat/neat';
@import 'variables';
@import 'colors';
@import 'globals';

article {
  h2 {
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    padding: 20px;
  }
  height: 300px;
  @include span-columns(12);
  @include omega();
  @include media ($main-breakpoint) {
    height: 500px;
    @include row (table);
    @include span-columns(6, block-collapse);
  }
  &:hover {
    h2 {
      margin: 0;
      display: block;
      font-size: 3em;
      color: $color-title;
      border: 8px solid $color-title;
      @include media ($main-breakpoint) {
        font-size: 4em;
        border: 10px solid $color-title;
      }
    }
  }
}

// Generates main page image gallery
@for $i from 1 through 8 {
  #img#{$i} {
    background-image: url('../img/#{$i}.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
